.header { background: $head-bg; }

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";

//文章页网易云显示样式
#indexMusic .fluid-vids{
    bottom: -.8rem !important;
    margin-bottom:0 !important; 
}